<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PERIOD_HOURS" value=""/>
    <add key="ROOT_IMAGE_DIRECTORY" value=""/>
    <add key="RETENTION_PERIOD_HOURS" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
