<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PERIOD_TIMESPAN" value="0:1:0"/>
    <add key="ROOT_IMAGE_DIRECTORY" value="C:\SolinkImages"/>
    <add key="RETENTION_PERIOD_TIMESPAN" value="1:0:0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
